# Server for `npm run dev`
DEV_HOST=localhost
DEV_PORT=5174

# Server for `npm run preview`
PREVIEW_HOST=localhost
PREVIEW_PORT=4174

# HMR for `npm run dev`
HMR_HOST=localhost
HMR_PORT=24679

# Public (exposed to browser)
PUBLIC_API_BASE_URL=http://127.0.0.1:8000/api
PUBLIC_STORAGE_BASE_URL=http://127.0.0.1:8000/storage
